<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mini-Shopify</title>
    <!-- Add your CSS links here -->
    <!-- Example: <link rel="stylesheet" th:href="@{/css/style.css}" /> -->
</head>
<body>

<h1>Welcome to Mini-Shopify!</h1>

<!-- Button to create a new shop -->
<form th:action="@{/create-shop}" method="get">
    <button type="submit" class="btn btn-primary">Create Shop</button>
</form>

<h2>Shops:</h2>
<div>
    <ul>
        <li th:each="shop : ${shops}" th:text="|Name: ${shop.shopName}, Description: ${shop.shopDescription}|"></li>
    </ul>
</div>

</body>
</html>