<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop Details</title>
</head>
<body>

<h1 th:text="${shop.shopName}">Shop Name</h1>
<p th:text="${shop.shopDescription}">Shop Description</p>


<!-- Add 'Create Product' button -->
<a th:href="@{/shop/{id}/create-product(id=${shop.id})}" class="btn btn-primary">Create Product</a>

<!-- Check if the shop has products and display them -->
<div th:if="${not #lists.isEmpty(shop.products)}">
    <h2>Products:</h2>
    <ul>
        <li th:each="product : ${shop.products}" th:text="${product.name}">Product Name</li>
    </ul>
</div>
<!-- Display a message if there are no products -->
<p th:unless="${not #lists.isEmpty(shop.products)}">No products available.</p>

<a href="/miniShopify">Back to list of shops</a>

</body>
</html>